<h1>Index of Tutorials</h1>

<% @tutorials.each do |tut| %>
<ul>
  <li><h3><strong><%= tut.title %></strong></h3></li>
  <%= link_to 'Show', tut %>
</ul>
<% end %>

<%= link_to 'New Tutorial', new_tutorial_path %>
